/* Here is my style sheet */
.profile {
    text-align: center;
    margin: 18px;
}
.container{
    border: 2px solid brown;
    height: 100vh;
    width: 67%;
    margin: 0 auto;
}
h1{
    text-transform: capitalize;
    color: brown;
}

.profile img {
    height:50vh;
    
    border-radius: 50%;
}

.github-link {
    text-align: center;
    margin: 20px;
}
p{
    font-size: 25px;
    color: brown;
}
button{
    padding: 15px 30px;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}
button a:hover{
    color:brown;
}
